:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-main:#2E2F42;
    --secondary-text-main:#434455;
    --accent-color: #4D5AE5;
    --text-hero-footer: #FFFFFF; 
  }
  
  body {
    font-family: var(--primary-font-family);
    color: var(--secondary-text-main);
    background-color: var(--text-hero-footer);
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  /*====Шапка с навигацией====*/
  
  .logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-transform: uppercase;
  }
  
  .accentlogo {
    color: var(--primary-text-main);
  }
  
  .menu-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--primary-text-main);
  }
  
  .menu-list-item:hover,
  .menu-list-item:focus {
    color: #404bbf;
  }
  
  
  .contact {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
  }

  .contact-link {
     color: var(--secondary-text-main);
  }
  
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  
  /*====HERO=====*/
  
  .hero {
    background-color: #2E2F42;
  }
  
  .main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--text-hero-footer);
  }
  
  .modal-btn {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--text-hero-footer);
    background-color: var(--accent-color);
  }
  
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  /*=====Описание сайта=====*/

  .content-title {
    list-style: none;
  }
  
  .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-main);
  }
  
  .content-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-main);
  }
  
  /*======Галерея======*/
  
  .gallery-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-main);
  }
  
  .gallery-img {
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
  }
  
  /*========Сотрудники==========*/
  
  .user-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-main);
  }

  .users-list {
    background-color: var(--text-hero-footer);
  }
  
  .users-team-foto {
    background: url(man-with-laptop-presenting-something.jpg);
    border-radius: 0px;
  }
  
  .user-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-main);
  }
  
  .user-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-main);
  }
  
  .user-team {
    background:#F4F4FD;
  }
  
  /*=======Контакты=========*/
  
  .accentlogo-contacts {
   color: #f4f4fd;
  }
  
  .contact-footer {
    background: #2E2F42;
  }
  
   .contact-item {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
  }
  
  /*======Портфолио======*/

   /*.modal-btn-portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--accent-color);
    background-color: #F4F4FD;
  }

  .modal-btn-portfolio-text,
  .modal-btn-portfolio-text {
    background-color: #404BBF;
    color: var(--text-hero-footer);
    
  }*/
  
  .modal-btn-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    color: #4d5ae5;
  }
  
  .modal-btn-portfolio:hover,
  .modal-btn-portfolio:focus {
    background-color: #404BBF;
    color: var(--text-hero-footer);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  
  /*.portfolio-current {
    color: var(--text-hero-footer);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }*/

  .portfolio-card {
    
    text-decoration: none
  }
  
  .portfolio-img {
    
    background: url(4074365.jpg);
  }
  
  .portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-main);
  }
  
  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-main);
  }